<h3>Импорт</h3>
<form method="post" action="" enctype="multipart/form-data">
    <div class="box">
        <div class="box-header">
            <div class="title">Добавление нового товара</div>
        </div>
        <div class="box-content">

            <div class="row box-section">
                <div class="form-group">
                    <label for="excel"><b>Выберите файл Excel</b></label>
                    <input type="file" name="excel" class="form-control"/>
                </div>
                <br/>

                <div class="form-group">
                    <label class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input type="submit" value="Сохранить" class="btn btn-green">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>