<div class="table-responsive">
    <h3>Шановний <?=$data['name']?>.
        Ваше замовлення прийняте в обробку.</h3>
    <table style="width: 100%; border: 1px solid #ddd; border-collapse: collapse;">
        <thead>
        <tr style="background: #f9f9f9;">
            <th style="padding: 8px; border: 1px solid #ddd;">Найменування</th>
            <th style="padding: 8px; border: 1px solid #ddd;">Кількість</th>
            <th style="padding: 8px; border: 1px solid #ddd;">Ціна</th>
        </tr>
        </thead>
        <tbody>
        <?php $count = 0; foreach ($message as $item) :?>
            <tr>
                <td style="padding: 8px; border: 1px solid #ddd;"><a href="http://mysitex.zzz.com.ua/product/view/<?=$item['alias']?>"><?= $item['name']?></a></td>
                <td style="padding: 8px; border: 1px solid #ddd;"><?= $item['quantity']?></td>
                <td style="padding: 8px; border: 1px solid #ddd;"><?= $item['price']?> грн.</td>
                <?php $count = $count + $item['quantity'] * $item['price'];?>
            </tr>
        <?php endforeach?>
        <tr>
            <td colspan="2" style="padding: 8px; border: 1px solid #ddd;">На суму: </td>
            <td style="padding: 8px; border: 1px solid #ddd;"><?=$count?> грн.</td>
        </tr>
        </tbody>
    </table>
    <br/>
    <br/>
    <table style="width: 25%; border: 1px solid #ddd; border-collapse: collapse;">
        <tbody>
        <tr>
            <td style="padding: 8px; border: 1px solid #ddd;">Ім'я</td>
            <td style="padding: 8px; border: 1px solid #ddd;"><?=$data['name']?></td>
        </tr>
        <tr>
            <td style="padding: 8px; border: 1px solid #ddd;">Прізвище</td>
            <td style="padding: 8px; border: 1px solid #ddd;"><?=$data['surname']?></td>
        </tr>
        <tr>
            <td style="padding: 8px; border: 1px solid #ddd;">Телефон</td>
            <td style="padding: 8px; border: 1px solid #ddd;"><?=$data['phone']?></td>
        <tr>
            <td style="padding: 8px; border: 1px solid #ddd;">E-mail</td>
            <td style="padding: 8px; border: 1px solid #ddd;"><?=$email?></td>
        <tr>
        <tr>
            <td style="padding: 8px; border: 1px solid #ddd;">Місто</td>
            <td style="padding: 8px; border: 1px solid #ddd;"><?=$data['city']?></td>
        </tr>
        <tr>
            <td style="padding: 8px; border: 1px solid #ddd;">Вулиця</td>
            <td style="padding: 8px; border: 1px solid #ddd;"><?=$data['street']?></td>
        </tr>
        <tr>
            <td style="padding: 8px; border: 1px solid #ddd;">Будинок</td>
            <td style="padding: 8px; border: 1px solid #ddd;"><?=$data['house']?></td>
        </tr>
        <tr>
            <td style="padding: 8px; border: 1px solid #ddd;">№ квартири</td>
            <td style="padding: 8px; border: 1px solid #ddd;"><?=$data['flat']?></td>
        </tr>
        </tbody>
    </table>
    <p>
        Бажаємо Вам приємних покупок в нашому магазині!
    </p>
</div>