<table width="100%" cellspacing="0" cellpadding="0" border="0" id="contentMainWrapper">
    <tbody>
    <tr>


        <td valign="top" id="column-center">

            <div class="column-center-padding">

                <!--content_center-->

                <div id="productGeneral" class="centerColumn">
                    <!--bof Product Name-->
                    <h1 class="productGeneral" id="productName"><?=$data['goods']['name']?></h1>
                    <!--eof Product Name-->

                    <div class="tie">
                        <div class="tie-indent">


                            <div class="page-content">

                                <div class="wrapper">



                                    <!--bof Category Icon -->


                                    <!--bof Prev/Next top position -->
                                    <!--eof Prev/Next top position-->

                                    <div class="fleft">
                                        <!--bof Main Product Image -->



                                        <div class="centeredContent back" id="productMainImage">
                                            <span class="image"><a href="<?=IMG_PATH_ASSET?><?=$data['goods']['img']?>"><img width="196" height="192" title="<?=$data['goods']['name']?>" alt="<?=$data['goods']['name']?>" src="<?=IMG_PATH_ASSET?><?=$data['goods']['img']?>"><span class="zoom"></span></a></span>

                                        </div>
                                        <!--eof Main Product Image-->
                                        <div class="clear"></div>
                                    </div>

                                    <div class="fleft desc2">
                                        <!--bof free ship icon  -->
                                        <!--eof free ship icon  -->
                                        <div class="name-type bot-border"><?=$data['goods']['name']?> <?php if (Session::get('role') == 'admin') {?>
                                                <a href="/admin/product/edit/<?=$data['goods']['id']?>" title="Редактировать товар"><i class="fa fa-pencil fa-lg" aria-hidden="true">
                                                    </i></a>
                                            <?php }?></div>


                                        <!--bof Product details list  -->
                                        <!--                                            <ul class="instock">-->
                                        <!--                                                <li><strong>Model: </strong>Model1</li>-->
                                        <!--                                                <li><strong>Shipping Weight: </strong>2lbs</li>-->
                                        <!--                                                <li><strong> Units in Stock: </strong>999</li>-->
                                        <!--                                                <li><strong>Manufactured by: </strong>Example 1</li>-->
                                        <!--                                            </ul>-->
                                        <!--eof Product details list -->

                                        <!--bof Product Price block -->
                                        <h2 class="productGeneral" id="productPrices">
                                            <span class="price-text">Ціна: &nbsp;</span>
                                            <?=$data['goods']['price']?> грн.  / 100 грам </h2>
                                        <!--eof Product Price block -->

                                        <!--bof Add to Cart Box -->
                                        <div id="cartAdd">
                                            <strong class="fleft text2"><span class="buttonRow"><a href="/cart/add/<?=$data['goods']['id']?>"><button style="width: 80px;" onmouseout="this.className='cssButton button_in_cart'" onmouseover="this.className='cssButtonHover button_in_cart button_in_cartHover'" class="cssButton button_in_cart">Придбати</button></a></span>
                                        </div>
                                        <!--eof Add to Cart Box-->
                                    </div>






                                <!--bof Product description -->
                                <div class="description biggerText" id="productDescription"><strong>Опис: </strong>
                                    <br/>
                                    <?=$data['goods']['description']?>
                                </div>
                                <!--eof Product description -->





                                <!--bof Attributes Module -->
                                <!--eof Attributes Module -->

                                <!--bof Quantity Discounts table -->
                                <!--eof Quantity Discounts table -->

                                <!--bof Additional Product Images -->
                                <!--eof Additional Product Images -->

                                <div class="wrapper bot-border">



                                </div>

                                <div class="text2">

                                    <p class="reviewCount"><strong>Відгуків: (<?=count($data['comments'])?>)</strong></p>
                                    <br/>
                                    <?php if (empty($data['comments'])){?>
                                        <h3>Відгуків поки що немає, залиште перший!</h3>
                                    <?php }else { ?>
                                        <?php foreach ($data['comments'] as $comment) { ?>
                                            <div id="contactUsNoticeContent" class="content">
                                                <p>
                                                    <strong><?= $comment['name'] ?></strong> <?= $comment['dt'] ?>
                                                </p>
                                                <p><?= $comment['message'] ?></p>
                                            </div>
                                        <?php }
                                    }?>
                                    <br/>
                                    <form id="comment_form" method="post" action="/comments/add/<?=$data['goods']['alias']?>">
                                        <fieldset id="contactUsForm">
                                            <legend>Залишити відгук</legend>
                                            <div class="alert alignright">* Обов'язкове поле</div>
                                            <label class="inputLabel" for="name">
                                                Ім'я:
                                                <span class="alert">*</span>
                                            </label>
                                            <input id="name" type="text" size="40" name="name" required="required">
                                            <br class="clearBoth">
                                            <label class="inputLabel" for="email">
                                                E-mail:
                                                <span class="alert">*</span>
                                            </label>
                                            <input id="email" type="text" size="40" name="email" required="required">
                                            <br class="clearBoth">
                                            <label class="inputLabel" for="message">
                                                Коментар:
                                                <span class="alert">*</span>
                                            </label>
                                            <textarea id="message" rows="7" cols="20" name="message" required="required"></textarea>
                                            <br/>
                                            <label class="inputLabel" for="code">
                                                Перевірочний код:
                                                <span class="alert">*</span>
                                            </label>
                                            <img src="/captcha">
                                            <input id="code" type="text" size="40" name="code" required="required">
                                            <br class="clearBoth">
                                            <input class="cssButton button_send" type="submit" style="width: 80px; margin-left: 12px" value="Додати">
                                        </fieldset>
                                    </form>

                                    <!--bof Product URL -->
                                    <!--eof Product URL -->

                                </div>
                                </div>

                                <!--bof also purchased products module-->

                                <!--eof also purchased products module-->

                                <!--bof Form close-->

                                <!--bof Form close-->


                            </div>

                        </div>
                    </div>

                </div>

                <div class="clear"></div>

                <!--eof content_center-->

            </div>

        </td>


        <td style="width:220px" id="column_right">

            <div style="width:220px;">
                <!--// bof: categories //-->

                <?php include (VIEWS_PATH.DS.'helper'.DS.'menu.html')?>

                <!--// eof: categories //-->
                <?php include (VIEWS_PATH.DS.'helper'.DS.'bestsellers.html')?>
            </div>

        </td>


    </tr>
    </tbody>
</table>