<div class="slider">
    <script language="javascript" type="text/javascript">
        jQuery(window).load(function() {
            jQuery('#slider').nivoSlider({
                effect: 'fade',
                animSpeed: 500,
                pauseTime: 4000,
                directionNav: true,
                directionNavHide: true,
                controlNav: false,
                pauseOnHover: true,
                captionOpacity: 0.8			});
        });

    </script>

    <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
            <a href=""><img src="/images/banner1.jpg" alt="" width="930" height="330" /></a>
            <a href=""><img src="/images/banner2.jpg" alt="" width="930" height="330" /></a>
            <a href=""><img src="/images/banner3.jpg" alt="" width="930" height="330" /></a>
        </div>
    </div>
</div>

<div class="bot-banner">
    <?php include (VIEWS_PATH.DS.'helper'.DS.'botbanners.html')?>
</div>

<table border="0" cellspacing="0" cellpadding="0" width="100%" id="contentMainWrapper">
    <tr>



        <td id="column-center" valign="top">

            <div class="column-center-padding">

                <!--content_center-->


                <!-- bof breadcrumb -->
                <!-- eof breadcrumb -->


                <!-- bof upload alerts -->
                <!-- eof upload alerts -->


                <div class="centerColumn" id="indexDefault">


                    <!-- deprecated - to use uncomment this section
                    <div id="" class="content">This is the main define statement for the page for english when no template defined file exists. It is located in: <strong>/includes/languages/english/index.php</strong></div>
                    -->

                    <!-- deprecated - to use uncomment this section
                    <div id="" class="content">Define your main Index page copy here.</div>
                    -->

                    <div id="indexDefaultMainContent"></div>



                    <!-- bof: featured products  -->
                    <div class="centerBoxWrapper" id="featuredProducts">

                        <h2 class="centerBoxHeading">Featured Products</h2>
                        <?php if (empty($data['goods'])):?>
                        <h3>Товарів покищо немає</h3>
                        <?php else:?>

                        <?php $i= 0; foreach ($data['goods'] as $good):?>
                        <div class="centerBoxContentsFeatured centeredContent back" style="width:33%;"><div class="product-col" >
                                <div class="img">
                                    <a href="/product/view/<?=$good['alias']?>"><img src="<?=IMG_PATH_ASSET?><?=$good['img']?>" alt="<?=$good['name']?>" title="<?=$good['name']?>" width="196" height="192" /></a>
                                </div>
                                <div class="prod-info">
                                    <a class="name" href="/product/view/<?=$good['alias']?>"><?=$good['name']?></a>
                                    <div class="wrapper">
                                        <div class="price">
                                            <strong><?=$good['price']?> грн.</strong>
                                        </div>
                                        <div class="button"><a href="/product/view/<?=$good['alias']?>"><span class="cssButton button_goto_prod_details" onmouseover="this.className='cssButtonHover button_goto_prod_details button_goto_prod_detailsHover'" onmouseout="this.className='cssButton button_goto_prod_details'" style="width: 80px;" >&nbsp;Детальніше&nbsp;</span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <?php $i++;?>
                        <?php if($i % 3 == 0): ?>
                        <br class="clearBoth" />
                        <?php endif;?>
                        <?php endforeach;?>

                    </div>
                    <!-- eof: featured products  -->





                </div>

                <div class="clear"></div>

                <!--eof content_center-->

            </div>
            <div id="allProductsListingBottomLinks" class="navSplitPagesLinks forward">
                <?php
                foreach ($data['pagination']->buttons as $button) {
                if ($button->isActive) { ?>
                <a title="<?= $button->page ?>" href="/?page=<?= $button->page ?>"><?= $button->text ?></a>
                <?php } else { ?>
                    <strong class="current"><?= $button->text ?></strong>
                    <?php }
                    } ?>
            </div>
            <?php endif;?>

        </td>


        <td id="column_right" style="width:220px">

            <div style="width:220px;">
                <!--// bof: categories //-->

                <?php include (VIEWS_PATH.DS.'helper'.DS.'menu.html')?>

                <!--// eof: categories //-->

                <!--// bof: bestsellers //-->

                <?php include (VIEWS_PATH.DS.'helper'.DS.'bestsellers.html')?>

                <!--// eof: bestsellers //-->

            </div>

        </td>


    </tr>
</table>
