<table id="contentMainWrapper" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tbody>
    <tr>
        <td id="column-center" valign="top">
            <div class="column-center-padding">
                <div id="productGeneral" class="centerColumn">
                    <h1 id="productName" class="productGeneral"><?=$data['goods']['name']?></h1>
                    <div class="tie">
                        <div class="tie-indent">
                            <div class="page-content">
                                <div class="wrapper">
                                        <div class="fleft">
                                            <div id="productMainImage" class="centeredContent back">
                                                <span class="image"><a href="<?=IMG_PATH_ASSET?><?=$data['goods']['img']?>"><img width="196" height="192" title="<?=$data['goods']['name']?>" alt="<?=$data['goods']['name']?>" src="<?=IMG_PATH_ASSET?><?=$data['goods']['img']?>"><span class="zoom"></span></a></span>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="fleft desc2">
                                            <div class="name-type bot-border"><?=$data['goods']['name']?></div>

                                            <h2 class="productPrices" id="productGeneral">
                                                <span class="price-text">Ціна: &nbsp;</span>
                                                <?=$data['goods']['price']?> грн. за 100 грам </h2>

                                            <div id="cartAdd">
                                                <strong class="fleft text2">
                                                    <span class="buttonRow"><a href="/cart/add/<?=$data['goods']['id']?>"><button style="width: 80px;" onmouseout="this.className='cssButton button_in_cart'" onmouseover="this.className='cssButtonHover button_in_cart button_in_cartHover'" class="cssButton button_in_cart">Придбати</button></a>
                                                </strong>
<!--                                                <span class="buttonRow"></span>-->
                                            </div>
                                        </div>
                                </div>
                                <div id="productDescription" class="description biggerText">
                                    <strong>Опис: </strong>
                                    <br>
                                    <?=$data['goods']['description']?>
                                </div>
                                <div class="wrapper bot-border">
                                </div>
                                <div class="text2">
                                    <p class="reviewCount">
                                        <strong>Відгуків: (<?=count($data['comments'])?>)</strong>
                                    </p>
                                    <br>
                                    <?php if (empty($data['comments'])){?>
                                        <h3>Відгуків поки що немає, залиште перший!</h3>
                                    <?php }else { ?>
                                        <?php foreach ($data['comments'] as $comment) { ?>
                                            <div id="contactUsNoticeContent" class="content">
                                                <p>
                                                    <strong><?= $comment['name'] ?></strong> <?= $comment['dt'] ?>
                                                </p>
                                                <p><?= $comment['message'] ?></p>
                                            </div>
                                        <?php }
                                    }?>
                                    <br/>
                                    <form id="comment_form" method="post" action="/comments/add/<?=$data['goods']['alias']?>">
                                        <fieldset id="contactUsForm">
                                            <legend>Залишити відгук</legend>
                                            <div class="alert alignright">* Обов'язкове поле</div>
                                            <label class="inputLabel" for="name">
                                                Ім'я:
                                                <span class="alert">*</span>
                                            </label>
                                            <input id="name" type="text" size="40" name="name" required="required">
                                            <br class="clearBoth">
                                            <label class="inputLabel" for="email">
                                                E-mail:
                                                <span class="alert">*</span>
                                            </label>
                                            <input id="email" type="text" size="40" name="email" required="required">
                                            <br class="clearBoth">
                                            <label class="inputLabel" for="message">
                                                Коментар:
                                                <span class="alert">*</span>
                                            </label>
                                            <textarea id="message" rows="7" cols="20" name="message" required="required"></textarea>
                                            <br/>
                                            <label class="inputLabel" for="code">
                                                Перевірочний код:
                                                <span class="alert">*</span>
                                            </label>
                                            <img src="/captcha">
                                            <input id="code" type="text" size="40" name="code" required="required">
                                            <br class="clearBoth">
                                            <input class="cssButton button_send" type="submit" style="width: 80px; margin-left: 12px" value="Додати">
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
        </td>
        <td style="width:220px" id="column_right">

            <div style="width:220px;">
                <!--// bof: categories //-->

                <?php include (VIEWS_PATH.DS.'helper'.DS.'menu.html')?>

                <!--// eof: categories //-->
                <?php include (VIEWS_PATH.DS.'helper'.DS.'bestsellers.html')?>
            </div>

        </td>


    </tr>
    </tbody>
</table>