<table id="contentMainWrapper" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <tr>
        <td id="column-center" valign="top">
            <div class="column-center-padding">
                <div id="loginDefault" class="centerColumn">
                    <h1 id="loginDefaultHeading">Вход в аккаунт</h1>
                    <div class="tie">
                        <div class="tie-indent">
                            <form method="post" action="" name="login">
                                <fieldset class="first">
                                    <legend>Вход</legend>
                                    <label class="inputLabel" for="login">Логин:</label>
                                    <input id="login" type="text" maxlength="32" size="33" name="login">
                                    <br class="clearBoth">
                                    <label class="inputLabel" for="password">Пароль:</label>
                                    <input id="password" type="password" maxlength="32" size="33" name="password">
                                    <br class="clearBoth">
                                </fieldset>
                                <div class="buttonRow back">
                                    <input class="cssButton button_login" type="submit" style="width: 80px;" value="Войти">
                                </div>
<!--                                <div class="buttonRow back">-->
<!--                                    <a class="forgot_pass" href="http://livedemo00.template-help.com/zencart_44395/index.php?main_page=password_forgotten">Forgot your password?</a>-->
<!--                                </div>-->
                            </form>
                            <br class="clearBoth">
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </td>
        <td id="column_right" style="width:220px">
            <div style="width:220px;">

                <?php include (VIEWS_PATH.DS.'helper'.DS.'menu.html')?>

                <div id="bestsellers" class="box" style="width:220px;">
                    <div class="box-head"> Bestsellers </div>
                    <div class="box-body">
                        <div id="bestsellersContent" class="sideBoxContent">
                            <div class="wrapper">
                                <ol>
                                    <li>
                                        <a class="screenshot" href="http://livedemo00.template-help.com/zencart_44395/index.php?main_page=product_info&products_id=27" rel="images/27.jpg">SerendipiTea Iron Go...</a>
                                    </li>
                                    <li>
                                        <a class="screenshot" href="http://livedemo00.template-help.com/zencart_44395/index.php?main_page=product_info&products_id=30" rel="images/30.jpg">SerendipiTea Yin Zhe...</a>
                                    </li>
                                    <li>
                                        <a class="screenshot" href="http://livedemo00.template-help.com/zencart_44395/index.php?main_page=product_info&products_id=33" rel="images/33.jpg">Taylors of Harrogate...</a>
                                    </li>
                                    <li>
                                        <a class="screenshot" href="http://livedemo00.template-help.com/zencart_44395/index.php?main_page=product_info&products_id=36" rel="images/36.jpg">Tazo Passion Herbal ...</a>
                                    </li>
                                    <li>
                                        <a class="screenshot" href="http://livedemo00.template-help.com/zencart_44395/index.php?main_page=product_info&products_id=39" rel="images/39.jpg">Tienxi Pu-Erh Tea Ca...</a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>