<table id="contentMainWrapper" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <tr>
        <td id="column-center" valign="top">
            <div class="column-center-padding">
                <div id="loginDefault" class="centerColumn">
                    <h1 id="loginDefaultHeading">Вхід до акаунту</h1>
                    <div class="tie">
                        <div class="tie-indent">
                            <form method="post" action="" name="login">
                                <fieldset class="first">
                                    <legend>Вхід</legend>
                                    <label class="inputLabel" for="login">Логін:</label>
                                    <input id="login" type="text" maxlength="32" size="33" name="login" required="required">
                                    <br class="clearBoth">
                                    <label class="inputLabel" for="password">Пароль:</label>
                                    <input id="password" type="password" maxlength="32" size="33" name="password" required="required">
                                    <br class="clearBoth">
                                </fieldset>
                                <div align="center">  У вас ще немає аккаунта?
                                <br class="clearBoth">
                                <a href="/users/register">Зареєструватися</a>
                                <br class="clearBoth"></div>
                                <div class="buttonRow back">
                                    <input class="cssButton button_login" type="submit" style="width: 80px;" value="Войти">
                                </div>
                            </form>
                            <br class="clearBoth">
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </td>
        <td id="column_right" style="width:220px">
            <div style="width:220px;">

                <?php include (VIEWS_PATH.DS.'helper'.DS.'menu.html')?>

                <?php include (VIEWS_PATH.DS.'helper'.DS.'bestsellers.html')?>
            </div>
        </td>
    </tr>
    </tbody>
</table>