<table id="contentMainWrapper" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <tr>
        <td id="column-center" valign="top">
            <div class="column-center-padding">
                <div id="accountPassword" class="centerColumn">
                    <form action="/users/password" method="post">
                        <fieldset>
                            <legend>Изменить пароль</legend>
                            <div class="alert forward">* Обязательное поле</div>
                            <br class="clearBoth">
                            <label class="inputLabel" for="password">Новый пароль:</label>
                            <input id="password" type="password" name="password">
                            <span class="alert">*</span>
                            <br class="clearBoth">
                            <label class="inputLabel" for="repeat">Повторите пароль:</label>
                            <input id="repeat" type="password" name="repeat">
                            <span class="alert">*</span>
                            <br class="clearBoth">
                        </fieldset>
                        <div class="buttonRow back">
                            <input class="cssButton button_submit" type="submit" style="width: 143px;" value="Изменить" onmouseout="this.className='cssButton button_submit'" onmouseover="this.className='cssButtonHover button_submit button_submitHover'">
                        </div>
                    </form>
                </div>
                <div class="clear"></div>
            </div>
        </td>
        <td id="column_right" style="width:220px">
            <div style="width:220px;">

                <?php include (VIEWS_PATH.DS.'helper'.DS.'menu.html')?>

                <div id="bestsellers" class="box" style="width:220px;">
                    <div class="box-head"> Bestsellers </div>
                    <div class="box-body">
                        <div id="bestsellersContent" class="sideBoxContent">
                            <div class="wrapper">
                                <ol>
                                    <li>
                                        <a class="screenshot" href="http://livedemo00.template-help.com/zencart_44395/index.php?main_page=product_info&products_id=27" rel="images/27.jpg">SerendipiTea Iron Go...</a>
                                    </li>
                                    <li>
                                        <a class="screenshot" href="http://livedemo00.template-help.com/zencart_44395/index.php?main_page=product_info&products_id=30" rel="images/30.jpg">SerendipiTea Yin Zhe...</a>
                                    </li>
                                    <li>
                                        <a class="screenshot" href="http://livedemo00.template-help.com/zencart_44395/index.php?main_page=product_info&products_id=33" rel="images/33.jpg">Taylors of Harrogate...</a>
                                    </li>
                                    <li>
                                        <a class="screenshot" href="http://livedemo00.template-help.com/zencart_44395/index.php?main_page=product_info&products_id=36" rel="images/36.jpg">Tazo Passion Herbal ...</a>
                                    </li>
                                    <li>
                                        <a class="screenshot" href="http://livedemo00.template-help.com/zencart_44395/index.php?main_page=product_info&products_id=39" rel="images/39.jpg">Tienxi Pu-Erh Tea Ca...</a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>