<table id="contentMainWrapper" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <tr>
        <td id="column-center" valign="top">
            <div class="column-center-padding">
                <div id="accountPassword" class="centerColumn">
                    <form action="/users/password" method="post">
                        <fieldset>
                            <legend>Изменить пароль</legend>
                            <div class="alert forward">* Обязательное поле</div>
                            <br class="clearBoth">
                            <label class="inputLabel" for="password">Новый пароль:</label>
                            <input id="password" type="password" name="password">
                            <span class="alert">*</span>
                            <br class="clearBoth">
                            <label class="inputLabel" for="repeat">Повторите пароль:</label>
                            <input id="repeat" type="password" name="repeat">
                            <span class="alert">*</span>
                            <br class="clearBoth">
                        </fieldset>
                        <div class="buttonRow back">
                            <input class="cssButton button_submit" type="submit" style="width: 143px;" value="Изменить" onmouseout="this.className='cssButton button_submit'" onmouseover="this.className='cssButtonHover button_submit button_submitHover'">
                        </div>
                    </form>
                </div>
                <div class="clear"></div>
            </div>
        </td>
        <td id="column_right" style="width:220px">
            <div style="width:220px;">

                <?php include (VIEWS_PATH.DS.'helper'.DS.'menu.html')?>

                <?php include (VIEWS_PATH.DS.'helper'.DS.'bestsellers.html')?>
            </div>
        </td>
    </tr>
    </tbody>
</table>