<table id="contentMainWrapper" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <tr>
        <td id="column-center" valign="top">
            <div class="column-center-padding">
                <div id="accountEditDefault" class="centerColumn">
                    <form action="" method="post">
                        <fieldset>
                            <legend>Мій профіль</legend>
                            <ul>
                            <li><a href="/users/password">Змінити пароль</a></li>
                            </ul>
<!--                            <div class="alert forward">* Обязательное поле</div>-->
                            <br class="clearBoth">
                         <fieldset>
                            <legend>Персональна інформація</legend>

                            <label class="inputLabel" for="name">Ім'я:</label>
                            <input id="name" type="text" value="<?=$data['user']['name']?>" name="name">
<!--                            <span class="alert">*</span>-->

                            <br class="clearBoth">
                            <label class="inputLabel" for="surname">Прізвище:</label>
                            <input id="surname" type="text" value="<?=$data['user']['surname']?>" name="surname">
<!--                            <span class="alert">*</span>-->
                        </fieldset>

                        <fieldset>
                            <legend>Контактная информация</legend>

                            <label class="inputLabel" for="phone">Телефон:</label>
                            <input id="phone" type="text" value="<?=$data['user']['phone']?>" name="phone">
<!--                            <span class="alert">*</span>-->

                            <br class="clearBoth">
                            <label class="inputLabel" for="email">E-mail:</label>
                            <input id="email" type="text" value="<?=$data['user']['email']?>" name="email" disabled="disabled">
                        </fieldset>

                         <fieldset>
                             <legend>Адреса</legend>

                             <label class="inputLabel" for="city">Місто:</label>
                             <input id="city" type="text" value="<?=$data['user']['city']?>" name="city">
<!--                             <span class="alert">*</span>-->

                             <br class="clearBoth">
                             <label class="inputLabel" for="street">Вулиця:</label>
                             <input id="street" type="text" value="<?=$data['user']['street']?>" name="street">

                             <br class="clearBoth">
                             <label class="inputLabel" for="house">№ дому:</label>
                             <input id="house" type="text" value="<?=$data['user']['house']?>" name="house">

                             <br class="clearBoth">
                             <label class="inputLabel" for="flat">№ Квартири:</label>
                             <input id="flat" type="text" value="<?=$data['user']['flat']?>" name="flat">
                         </fieldset>
                            <div class="buttonRow back">
                                <input class="cssButton button_update" type="submit" style="width: 80px;" value="Змінити" onmouseout="this.className='cssButton button_update'" onmouseover="this.className='cssButtonHover button_update button_updateHover'">
                            </div>
                        </fieldset>
                    </form>

                    <fieldset>
                        <legend>Мої замовлення</legend>

                        <table id="cartContentsDisplay" width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                            <?php if (empty($data['orders'])) {?>
                                Ви ще нічого не замовили.
                            <?php }else {?>
                            <tr class="cartTableHeading">
                                <th id="ccProductsHeading" scope="col"># замовлення</th>
                                <th id="ccProductsHeading" scope="col">Дата замовлення</th>
                                <th id="ccTotalHeading" scope="col">Статус</th>
                                <th id="ccTotalHeading" scope="col"></th>
                            </tr>
                            <?php foreach($data['orders'] as $order) { ?>
                            <tr class="rowEven">
                                <td class="cartProductDisplay"><?=$order['id']?></td>
                                <td class="cartProductDisplay"><?=$order['date']?></td>
                                <td class="cartProductDisplay">
                                    <?=$order['o_status']?>
                                </td>
                                <td class="cartProductDisplay">
                                    <a href="/orders/details/<?=$order['id']?>"><button class="cssButton button_update" style="width: 80px;" onmouseout="this.className='cssButton button_update'" onmouseover="this.className='cssButtonHover button_update button_updateHover'">Детально</button></a>
                                </td>
                                <?php }?>
                                <?php }?>
                            </tr>
                            </tbody>
                        </table>

                    </fieldset>
                </div>
                <div class="clear"></div>
            </div>
        </td>
        <td id="column_right" style="width:220px">
            <div style="width:220px;">

                <?php include (VIEWS_PATH.DS.'helper'.DS.'menu.html')?>

                <?php include (VIEWS_PATH.DS.'helper'.DS.'bestsellers.html')?>
            </div>
        </td>
    </tr>
    </tbody>
</table>