<table id="contentMainWrapper" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <tr>
        <td id="column-center" valign="top">
            <div class="column-center-padding">
                <div id="accountEditDefault" class="centerColumn">
                    <form action="" method="post">
                        <fieldset>
                            <?php if (Session::get('login')) {?>
                            <legend>Мой профиль</legend>
                            <ul>
                            <li><a href="/users/password">Изменить пароль</a></li>
                            </ul>
<!--                            <div class="alert forward">* Обязательное поле</div>-->
                            <br class="clearBoth">
                         <fieldset>
                            <legend>Персональная информация</legend>

                            <label class="inputLabel" for="name">Имя:</label>
                            <input id="name" type="text" value="<?=$data['user']['name']?>" name="name">
<!--                            <span class="alert">*</span>-->

                             <br class="clearBoth">
                             <label class="inputLabel" for="middlename">Отчество:</label>
                             <input id="middlename" type="text" value="<?=$data['user']['middlename']?>" name="middlename">
                             <!--                            <span class="alert">*</span>-->

                            <br class="clearBoth">
                            <label class="inputLabel" for="surname">Фамилия:</label>
                            <input id="surname" type="text" value="<?=$data['user']['surname']?>" name="surname">
<!--                            <span class="alert">*</span>-->
                        </fieldset>

                        <fieldset>
                            <legend>Контактная информация</legend>

                            <label class="inputLabel" for="phone">Телефон:</label>
                            <input id="phone" type="text" value="<?=$data['user']['phone']?>" name="phone">
<!--                            <span class="alert">*</span>-->

                            <br class="clearBoth">
                            <label class="inputLabel" for="email">E-mail:</label>
                            <input id="email" type="text" value="<?=$data['user']['email']?>" name="email" disabled="disabled">
                        </fieldset>

                         <fieldset>
                             <legend>Адрес</legend>

                             <label class="inputLabel" for="city">Город:</label>
                             <input id="city" type="text" value="<?=$data['user']['city']?>" name="city">
<!--                             <span class="alert">*</span>-->

                             <br class="clearBoth">
                             <label class="inputLabel" for="street">Улица:</label>
                             <input id="street" type="text" value="<?=$data['user']['street']?>" name="street">

                             <br class="clearBoth">
                             <label class="inputLabel" for="house">№ дома:</label>
                             <input id="house" type="text" value="<?=$data['user']['house']?>" name="house">

                             <br class="clearBoth">
                             <label class="inputLabel" for="flat">№ Квартиры:</label>
                             <input id="flat" type="text" value="<?=$data['user']['flat']?>" name="flat">
                         </fieldset>
                            <div class="buttonRow back">
                                <input class="cssButton button_update" type="submit" style="width: 80px;" value="Изменить" onmouseout="this.className='cssButton button_update'" onmouseover="this.className='cssButtonHover button_update button_updateHover'">
                            </div>
                        </fieldset>
                    </form>

                    <fieldset>
                        <legend>Мои заказы</legend>

                        <table id="cartContentsDisplay" width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                            <?php if (empty($data['orders'])) {?>
                                Ваша корзина пуста.
                            <?php }else {?>
                            <tr class="cartTableHeading">
                                <th id="ccProductsHeading" scope="col"># заказа</th>
                                <th id="ccProductsHeading" scope="col">Дата заказа</th>
                                <th id="ccTotalHeading" scope="col">Статус</th>
                                <th id="ccTotalHeading" scope="col"></th>
                            </tr>
                            <?php foreach($data['orders'] as $order) { ?>
                            <tr class="rowEven">
                                <td class="cartProductDisplay"><?=$order['id']?></td>
                                <td class="cartProductDisplay"><?=$order['date']?></td>
                                <td class="cartProductDisplay">
                                    <?=$order['o_status']?>
                                </td>
                                <td class="cartProductDisplay">
                                    <a href="/orders/details/<?=$order['id']?>"><button class="cssButton button_update" style="width: 80px;" onmouseout="this.className='cssButton button_update'" onmouseover="this.className='cssButtonHover button_update button_updateHover'">Подробно</button></a>
                                </td>
                                <?php }?>
                                <?php }?>
                            </tr>
                            </tbody>
                        </table>

                    </fieldset>
                    <?php }else{ ?>
                        Профиль могут просматривать только зарегистрированые или авторизованые пользователи!
                <?php }?>
                </div>
                <div class="clear"></div>
            </div>
        </td>
        <td id="column_right" style="width:220px">
            <div style="width:220px;">

                <?php include (VIEWS_PATH.DS.'helper'.DS.'menu.html')?>

                <div id="bestsellers" class="box" style="width:220px;">
                    <div class="box-head"> Bestsellers </div>
                    <div class="box-body">
                        <div id="bestsellersContent" class="sideBoxContent">
                            <div class="wrapper">
                                <ol>
                                    <li>
                                        <a class="screenshot" href="http://livedemo00.template-help.com/zencart_44395/index.php?main_page=product_info&products_id=27" rel="images/27.jpg">SerendipiTea Iron Go...</a>
                                    </li>
                                    <li>
                                        <a class="screenshot" href="http://livedemo00.template-help.com/zencart_44395/index.php?main_page=product_info&products_id=30" rel="images/30.jpg">SerendipiTea Yin Zhe...</a>
                                    </li>
                                    <li>
                                        <a class="screenshot" href="http://livedemo00.template-help.com/zencart_44395/index.php?main_page=product_info&products_id=33" rel="images/33.jpg">Taylors of Harrogate...</a>
                                    </li>
                                    <li>
                                        <a class="screenshot" href="http://livedemo00.template-help.com/zencart_44395/index.php?main_page=product_info&products_id=36" rel="images/36.jpg">Tazo Passion Herbal ...</a>
                                    </li>
                                    <li>
                                        <a class="screenshot" href="http://livedemo00.template-help.com/zencart_44395/index.php?main_page=product_info&products_id=39" rel="images/39.jpg">Tienxi Pu-Erh Tea Ca...</a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>