<table id="contentMainWrapper" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <tr>
        <td id="column-center" valign="top">
            <div class="column-center-padding">
                <div id="loginDefault" class="centerColumn">
                    <h1 id="loginDefaultHeading">Реєстрація нового користувача</h1>
                    <div class="tie">
                        <div class="tie-indent">
                            <form method="post" action="">
                                <fieldset class="second">
                                    <legend>Реєстрація нового користувача</legend>
                                    <div class="information">
                                        Створіть профіль з
                                        <strong>Магазином Чая</strong>
                                        , який дозволяє робити покупки швидше, відстежувати статус своїх поточних замовлень і розглядати свої попередні замовлення.
                                    </div><br/>
                                    <div class="alert forward">* Обов'язкове поле</div>
                                    <br class="clearBoth">

                                    <fieldset class="address">
                                        <legend>Дані для замовлення</legend>
                                        <label class="inputLabel" for="name">Ім'я:</label>
                                        <input id="name" type="text" maxlength="32" size="33" name="name" required="required" >
                                        <span class="alert">*</span>

                                        <br class="clearBoth">
                                        <label class="inputLabel" for="surname">Прізвище:</label>
                                        <input id="surname" type="text" maxlength="32" size="33" name="surname" required="required">
                                        <span class="alert">*</span>

                                        <br class="clearBoth">
                                        <label class="inputLabel" for="street">Вулиця:</label>
                                        <input id="street" type="text" maxlength="32" size="33" name="street" required="required">
                                        <span class="alert">*</span>

                                        <br class="clearBoth">
                                        <label class="inputLabel" for="house">Будинок:</label>
                                        <input id="house" type="text" maxlength="32" size="33" name="house">

                                        <br class="clearBoth">
                                        <label class="inputLabel" for="flat">№ Квартири:</label>
                                        <input id="flat" type="text" maxlength="32" size="33" name="flat">

                                        <br class="clearBoth">
                                        <label class="inputLabel" for="city">Місто:</label>
                                        <input id="city" type="text" maxlength="32" size="33" name="city" required="required">
                                        <span class="alert">*</span>

                                        <br class="clearBoth">
                                    </fieldset>

                                    <fieldset>
                                        <legend>Контактна інформація</legend>
                                        <label class="inputLabel" for="phone">Телефон:</label>
                                        <input id="phone" type="text" maxlength="32" size="33" name="phone" placeholder="0xx xxx xx xx" required="required">
                                        <span class="alert">*</span>
                                        <br class="clearBoth">
                                    </fieldset>

                                    <fieldset>
                                        <legend>Дані для входу в систему</legend>

                                        <label class="inputLabel" for="login">Логін:</label>
                                        <input id="login" type="text" maxlength="32" size="33" name="login" required="required">
                                        <span class="alert">*</span>
                                        <br class="clearBoth">

                                        <label class="inputLabel" for="email">E-mail:</label>
                                        <input id="email" type="email" maxlength="32" size="33" name="email" required="required">
                                        <span class="alert">*</span>
                                        <br class="clearBoth">

                                        <label class="inputLabel" for="password">Пароль:</label>
                                        <input id="password" type="password" maxlength="32" size="33" name="password" required="required">
                                        <span class="alert">* </span>
                                        <br class="clearBoth">
                                        <!--                                        <label class="inputLabel" for="password-confirm">Confirm Password:</label>-->
                                        <!--                                        <input id="password-confirm" type="password" maxlength="40" size="21" name="confirmation">-->
                                        <!--                                        <span class="alert">*</span>-->
                                        <!--                                        <br class="clearBoth">-->
                                    </fieldset>
                                </fieldset>
                                <div class="buttonRow">
                                    <input class="cssButton button_submit" type="submit" style="width: 143px;" value="Зареєструватися">
                                </div>
                            </form>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </td>
        <td id="column_right" style="width:220px">
            <div style="width:220px;">

                <?php include (VIEWS_PATH.DS.'helper'.DS.'menu.html')?>

                <?php include (VIEWS_PATH.DS.'helper'.DS.'bestsellers.html')?>
            </div>
        </td>
    </tr>
    </tbody>
</table>