<table id="contentMainWrapper" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <tr>
        <td id="column-center" valign="top">
            <div class="column-center-padding">
                <div id="contactUsDefault" class="centerColumn">
                    <h1 id="gvFaqDefaultHeading">Контакти</h1>
                    <div class="tie text2">
                        <div class="tie-indent">
                            <form action="" method="post">
                                <address>
                                    <i class="fa fa-phone-square"></i>
                                    <span class="top-span"><a href="tel:+38093333-23-32">+38 (093) 333-23-32</a></span>
                                    <p>
                                        <i class="fa fa-envelope"></i>
                                        info@mysite.local
                                    </p>
                                    <p> <b>м. Київ</b>
                                        <br class="clearBoth">
                                        <i class="fa fa-home"></i>
                                        вул. Хрещатик, 20/224.
                                        <br class="clearBoth">
                                        <b>Графік роботи:</b>
                                        <br>Пн. – Пт.: з 10:00 до 19:00, Сб.: с 10 до 16:00, Нд.: вихідний
                                    </p>
                                    <p>
                                </address>
                                <div id="contactUsNoticeContent" class="content">
                                    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
                                    <div id="map" style="width: 100%; height: 200px;">
                                        <script type="text/javascript">
                                            ymaps.ready(init);
                                            ymaps.disableScrollZoom();
                                            var myMap,
                                                myPlacemark;

                                            function init(){
                                                myMap = new ymaps.Map("map", {
                                                    center: [50.449660, 30.522870],
                                                    zoom: 15
                                                });

                                                myPlacemark = new ymaps.Placemark([50.449660, 30.522870], {
                                                    hintContent: 'Інтернет-магазин чаю',
                                                    balloonContent: 'вул. Хрещатик, 20/224.'
                                                });

                                                myMap.geoObjects.add(myPlacemark);
                                                myMap.behaviors.disable('scrollZoom');
                                            }
                                        </script>
                                </div>
                                <fieldset id="contactUsForm">
                                    <legend>Написати нам</legend>
                                    <div class="alert alignright">* Обов'язкове поле</div>
                                    <label class="inputLabel" for="name">
                                        Ім'я:
                                        <span class="alert">*</span>
                                    </label>
                                    <input id="name" type="text" size="40" name="name" value="<?php if( Session::get('login')){ ?><?=Session::get('name')?><?php } ?>" required="required">
                                    <br class="clearBoth">

                                    <label class="inputLabel" for="phone">
                                        Телефон:
<!--                                        <span class="alert">*</span>-->
                                    </label>
                                    <input type="text" id="phone" name="phone" size="40">
                                    <br class="clearBoth">

                                    <label class="inputLabel" for="email">
                                        E-mail:
                                        <span class="alert">*</span>
                                    </label>
                                    <input id="email" type="text" size="40" name="email" value="<?php if( Session::get('login')){ ?><?=Session::get('email')?><?php } ?>" required="required">
                                    <br class="clearBoth">

                                    <label class="inputLabel" for="message">
                                        Повідомлення:
                                        <span class="alert">*</span>
                                    </label>
                                    <textarea id="message" rows="7" cols="20" name="message" required="required"></textarea>
                                    <br class="clearBoth">

                                    <label class="inputLabel" for="code">
                                        Перевірочний код:
                                        <span class="alert">*</span>
                                    </label>
                                    <img src="/captcha">
                                    <br class="clearBoth">
                                    <input id="code" type="text" size="40" name="code" required="required" >

                                </fieldset>
                                <div class="buttonRow back">
                                        <input class="cssButton button_send" type="submit" style="width: 80px;" value="Відправити" onmouseout="this.className='cssButton button_send'" onmouseover="this.className='cssButtonHover button_send button_sendHover'">
                                </div>
                            </form>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </td>
        <td id="column_right" style="width:220px">
            <div style="width:220px;">

                <?php include (VIEWS_PATH.DS.'helper'.DS.'menu.html')?>

                <?php include (VIEWS_PATH.DS.'helper'.DS.'bestsellers.html')?>
            </div>
        </td>
    </tr>
    </tbody>
</table>