<table id="contentMainWrapper" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <tr>
        <td id="column-center" valign="top">
            <div class="column-center-padding">
                <div id="loginDefault" class="centerColumn">
                    <?php $count=0;?>
                    <?php if (Session::get('login')) {?>
                    <?php } else {?>
                        <?php Session::setFlash('Для заказа нужно зарегистрироватся или войти в аккаунт')?>
                        <?=Router::redirect('/users/login')?>
                    <?php }?>
                    <h1 id="loginDefaultHeading">Оформление заказа</h1>
                    <div class="tie">
                        <div class="tie-indent">
                            <form method="post" action="">

                                    <div class="alert forward">* Обязательное поле</div>
                                    <br class="clearBoth">

                                    <fieldset class="address">
                                        <legend>Данные для заказа</legend>
                                        <label class="inputLabel" for="name">Имя:</label>
                                        <input id="name" type="text" maxlength="32" size="33" name="name" value="<?=$data['user']['name']?>">
                                        <span class="alert">*</span>

                                        <br class="clearBoth">
                                        <label class="inputLabel" for="surname">Фамилия:</label>
                                        <input id="surname" type="text" maxlength="32" size="33" name="surname" value="<?=$data['user']['surname']?>">
                                        <span class="alert">*</span>

                                        <br class="clearBoth">
                                        <label class="inputLabel" for="phone">Телефон:</label>
                                        <input id="phone" type="text" maxlength="32" size="33" name="phone" placeholder="0xx xxx xx xx" value="<?=$data['user']['phone']?>">
                                        <span class="alert">*</span>

                                        <br class="clearBoth">
                                        <label class="inputLabel" for="city">Город:</label>
                                        <input id="city" type="text" maxlength="32" size="33" name="city" value="<?=$data['user']['city']?>">
                                        <span class="alert">*</span>

                                        <br class="clearBoth">
                                        <label class="inputLabel" for="street">Улица:</label>
                                        <input id="street" type="text" maxlength="32" size="33" name="street" value="<?=$data['user']['street']?>">
                                        <span class="alert">*</span>

                                        <br class="clearBoth">
                                        <label class="inputLabel" for="house">Дом:</label>
                                        <input id="house" type="text" maxlength="32" size="33" name="house" value="<?=$data['user']['house']?>">
                                        <span class="alert">*</span>

                                        <br class="clearBoth">
                                        <label class="inputLabel" for="flat">№ Квартиры:</label>
                                        <input id="flat" type="text" maxlength="32" size="33" name="flat" value="<?=$data['user']['flat']?>">
                                        <span class="alert">*</span>

                                        <br class="clearBoth">
                                    </fieldset>

                                <fieldset class="address">
                                    <legend>Способ доставки</legend>

                                    <input type="radio" name="delivery" value="3" /> Самовывоз из офиса (Киев) ул. Крещатик, 20/224, 3-й этаж, офис 315 — <b>бесплатно</b>

                                    <br class="clearBoth">
                                    <input type="radio" name="delivery" value="1" /> Курьером по Киеву — 35 грн <b>(Бесплатно от 600 грн.)</b>

                                    <br class="clearBoth">
                                    <input type="radio" name="delivery" value="2" /> На склад "Новой почты" в Киеве — 15 грн

                                    <br class="clearBoth">
                                </fieldset>

                                <fieldset>
                                    <legend>Ваш заказ</legend>

                                    <table id="cartContentsDisplay" width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr class="cartTableHeading">
                                            <th id="ccProductsHeading" scope="col">Название</th>
                                            <th id="ccProductsHeading" scope="col">Количество</th>
                                            <th id="ccTotalHeading" scope="col">Цена</th>
                                        </tr>
                                        <?php foreach ($data['order'] as $order) {?>
                                        <tr class="rowEven">
                                            <td class="cartProductDisplay"><a href="/product/view/<?=$order['alias']?>"><?=$order['name']?></a></td>
                                            <td class="cartProductDisplay"><?=$order['quantity']?></td>
                                            <td class="cartProductDisplay"><?=$order['quantity'] * $order['price']?> грн.</td>
                                            <?php $count = $count + $order['quantity'] * $order['price'];?>
                                        </tr>
                                        </tbody>
                                        <?php }  ?>
                                    </table>
                                    <br class="clearBoth">
                                    <h3 style="float: right">Итого к оплате: <?=$count?> грн.</h3>
                                </fieldset>

                                <fieldset class="address">
                                    <legend>Форма оплаты</legend>

                                    <input type="radio" name="payment" value="1"/> Наличными
                                    Оплата при получении товара (только гривнами)<br/>
                                    <input type="radio" name="payment" value="2" "/> Безналичная оплата с НДС<br/>
                                    <input type="radio" name="payment" value="3" /> Оплата по безналичному расчёту для физ.лиц (физ. лиц-предпринимателей)<br/>

                                    <br class="clearBoth">
                                </fieldset>

                                <div class="buttonRow">
                                    <input class="cssButton button_submit" type="submit" style="width: 143px;" value="Заказать">
                                </div>
                            </form>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </td>
        <td id="column_right" style="width:220px">
            <div style="width:220px;">

                <?php include (VIEWS_PATH.DS.'helper'.DS.'menu.html')?>

                <?php include (VIEWS_PATH.DS.'helper'.DS.'bestsellers.html')?>
            </div>
        </td>
    </tr>
    </tbody>
</table>