<table id="contentMainWrapper" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <tr>
        <td id="column-center" valign="top">
            <div class="column-center-padding">
                <div id="accountPassword" class="centerColumn">
                        <fieldset>
                            <legend>Перегляд замовлення</legend>
                            <table id="cartContentsDisplay" width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <?php $count = 0?>
                                <tr class="cartTableHeading">
                                    <th id="ccProductsHeading" scope="col"># замовлення</th>
                                    <th id="ccProductsHeading" scope="col">Найменування</th>
                                    <th id="ccTotalHeading" scope="col">Ціна</th>
                                    <th id="ccTotalHeading" scope="col">Кількість</th>
                                </tr>
                                <?php foreach($data['order_details'] as $order) { ?>
                                <tr class="rowEven">
                                    <td class="cartProductDisplay"><?=$order['order_id']?></td>
                                    <td class="cartProductDisplay"><a href="/product/view/<?=$order['alias']?>"><?=$order['g_name']?></a></td>
                                    <td class="cartProductDisplay"><?=$order['price']?> грн.</td>
                                    <td class="cartProductDisplay"><?=$order['count']?></td>
                                    <?php $count = $count + $order['count'] * $order['price']?>
                                    <?php }?>
                                </tr>
                                </tbody>
                            </table>
                            <br class="clearBoth">
                            <h3 style="float: right">Всьго: <?=$count?> грн.</h3>
                        </fieldset>
                </div>
                <div class="clear"></div>
            </div>
        </td>
        <td id="column_right" style="width:220px">
            <div style="width:220px;">

                <?php include (VIEWS_PATH.DS.'helper'.DS.'menu.html')?>

                <?php include (VIEWS_PATH.DS.'helper'.DS.'bestsellers.html')?>
            </div>
        </td>
    </tr>
    </tbody>
</table>