<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="ua">
<head>
    <title><?=Config::get('site_name')?></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="<?=Config::get('keywords')?>" />
    <meta name="description" content="<?=Config::get('description')?>" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:700' rel='stylesheet' type='text/css'/>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet_boxes.css" />
    <link rel="stylesheet" type="text/css" href="/css/stylesheet_css_buttons.css" />
    <link rel="stylesheet" type="text/css" href="/css/stylesheet_ezpages_footer_columns.css" />
    <link rel="stylesheet" type="text/css" href="/css/stylesheet_lightbox-0.5.css" />
    <link rel="stylesheet" type="text/css" href="/css/stylesheet_main.css" />
    <link rel="stylesheet" type="text/css" href="/css/stylesheet_social_media_icons.css" />
    <link rel="stylesheet" type="text/css" href="/css/stylesheet_tm.css" />
    <link rel="stylesheet" type="text/css" href="/css/index_home.css" />
    <link rel="stylesheet" type="text/css" href="/css/ezmodal/ezmodal.css" />
    <link rel="stylesheet" type="text/css" media="print" href="/css/print_stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/maskedinput.js"></script>
    <script type="text/javascript">
        jQuery(function($){
            $("#phone").mask("(999)999-99-99");
        });
    </script>

    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript" src="/js/jscript_script.js"></script>
    <script type="text/javascript" src="/js/js_xjquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/js/js_xjquery.lightbox-0.5.js"></script>
</head>



<body id="indexHomeBody">

<!-- ========== IMAGE BORDER TOP ========== -->



<!-- ====================================== -->

<!-- ========== HEADER ========== -->




<div id="header">
    <div class="extra">
        <div class="main-width">
            <div class="logo">
                <!-- ========== LOGO ========== -->
                <a href="/"><img src="/images/logo.png" title="<?=Config::get('site_name')?>" alt="<?=Config::get('site_name')?>" width="298" height="68" /></a>
                <!-- ========================== -->
            </div>
            <div class="menu">
                <!-- ========== MENU ========== -->
                <div id="navEZPagesTop">
                    <ul>

                        <li class="  ">
                            <a href="/pages/view/dostavka-i-oplata">
                                <span class="corner"></span>
                                <span>
                            <span>Доставка</span>
                        </span>
                            </a>
                        </li>

                        <li class="  ">
                            <a href="/pages/view/about">
                                <span class="corner"></span>
                                <span>
                            <span>Про компанію</span>
                        </span>
                            </a>
                        </li>

                        <li class=" last ">
                            <a href="/contacts/">
                                <span class="corner"></span>
                                <span>
                            <span>Контакти</span>
                        </span>
                            </a>
                        </li>

                    </ul>
                </div>

                <!-- ========================== -->
            </div>
            <div class="navigation">
                <!-- ========== NAVIGATION LINKS ========== -->
                <a class="frst" href="/">Головна</a>

                <?php if (Session::get('login')) {?>
                <?php if (Session::get('role') == 'admin') {?>
                <a href="/admin" target="_blank">Адмін-панель</a>
                <?php }?>
                <a href="/users/profile">Профіль</a>
                <a href="/users/logout">Вийти (<?=Session::get('login')?>)</a>
                <?php } else{ ?>
                <a href="/users/login">Ввійти</a>
                <?php }?>

                <!-- ====================================== -->
            </div>
            <div class="cart">
                <!-- ========== SHOPPING CART ========== -->
                <a class="st1" href="/cart/"><span>У кошику</span></a>(<?=$data['cart_count']?>) шт.
                <!-- =================================== -->
            </div>
            <div id="head-search">
                <!-- ========== SEARCH ========== -->
                <span class="label">Пошук:</span>
                <form method="post" action="/product/search" method="post">
                    <div>
                        <input class="input1" name="search" size="18" maxlength="100" style="width: -30px" type="text">
                        <span class="input2">
                        <input class="cssButton search" onmouseover="this.className='cssButtonHover search searchHover'" onmouseout="this.className='cssButton search'" value="Search" style="width: 80px;" type="submit">
                        </span>
                    </div>
                </form>
                <!-- ============================ -->
            </div>
        </div>
    </div>
</div>








<!-- ========== CATEGORIES TABS ========= -->
<!-- ==================================== -->


<!-- ============================ -->
<div class="extra">
    <div class="main-width">
        <?php if( Session::hasFlash() ){ ?>
        <div class="alert-box notice">
            <?php Session::flash(); ?>
        </div>
        <?php } ?>

        <?=$data['content']?>

        <!-- ========== FOOTER ========== -->


        <div id="footer">
            <div class="wrapper">
                <div class="footer-menu">
                    <div id="navSupp">

                    </div>
                </div>
                <div class="copyright">
                    <!-- ========== COPYRIGHT ========== -->
                    Copyright &copy; 2016 <a href="/" target="_blank"><?=Config::get('site_name')?></a>.

                    <!-- =============================== -->
                </div>
                <div><!-- {%FOOTER_LINK} --></div>
                <div class="back_to_top">
                    <a href="#"><span>&uarr;</span> Вгору</a>
                </div>
            </div>
        </div>






        <!-- BOF- BANNER #5 display -->
        <!-- EOF- BANNER #5 display -->

        <!-- ============================ -->

        <!--bof- parse time display -->
        <!--eof- parse time display -->

        <!-- BOF- BANNER #6 display -->
        <!-- EOF- BANNER #6 display -->

        <!-- ========== IMAGE BORDER BOTTOM ========== -->

    </div>
</div>

<!-- ========================================= -->

</html>
