<table id="contentMainWrapper" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <tr>
        <td id="column-center" valign="top">
            <div class="column-center-padding">
                <div id="gvFaqDefault" class="centerColumn">
                    <h1 id="gvFaqDefaultHeading"><?=$data['page']['title']?></h1>
                    <div class="tie">
                        <div class="tie-indent">
                            <div id="gvFaqDefaultMainContent" class="content">
                                <?=$data['page']['content']?>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </td>
        <td id="column_right" style="width:220px">
            <div style="width:220px;">

                <?php include (VIEWS_PATH.DS.'helper'.DS.'menu.html')?>

                <?php include (VIEWS_PATH.DS.'helper'.DS.'bestsellers.html')?>
            </div>
        </td>
    </tr>
    </tbody>
</table>